.latest
{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.latest_post {
    position: relative;
    justify-content: center;
}
.latest_post_img img {
    margin-right: 11px;
    margin-left: 6px;
    padding: 0px;
    height:150px;
    width: 266px;
}
.latest_post_text{
    color: black;
    position:absolute;
    height: 80px;
    width: 160px;
    border: 1px solid black;
    background-color: white;
    top: 70%;
    right: 30px;
    padding: 19px 26px;
}
.heading
{
    display: flex;
    flex-direction: row;
}
.heading::after
{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid black;
    margin-right: 200px;
    margin-left: 3px;
    margin-bottom: 8px;   
}
.heading::before
{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid black;
    margin-left: 200px;
    margin-right: 3px;
    margin-bottom: 8px;   
}
.latest1
{
    display: flex;
    position: relative;
    justify-content: center;
}

.new_post_img img
{
    height:320px;
    width: 840px;
}
.new_post_text
{
    text-align: center;
    color: black;
    position:absolute;
    height: 80px;
    width: 360px;
    border: 1px solid black;
    background-color: white;
    top: 70%;
    right: 430px;
    padding: 19px 26px;
}
.ad
{
    display: flex;
    margin-top: 100px;
     text-align: center;
}
.ad_img img
{
    width: 67.5%;
    height: 150px;
}


