.Random
{
    margin-top:20px;
}
.Random_post {
    display: flex;
    direction: rtl;
    position: relative;
    margin-right: 200px;
    margin-top: 30px;
}
.Random_post1 {
    display: flex;
    direction: ltr;
    position: relative;
    margin-left: 200px;
    margin-top: 30px;
}
.Random_post_img img {
    margin: 0px;
    padding: 0px;
    height: 320px;
    width: 380px;
}
.Random_post_text {
    color: black;
    direction: ltr;
    background-color: white;
    position: absolute;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    top:70px;
    bottom: 100px;
    right: 220px;
    padding: 29px 36px;
}
.Random_post_text1 {
    color: black;
    direction: ltr;
    position:absolute;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    top: 85px;
    left: 280px;
    padding: 29px 36px;
}
.heading
{
    display: flex;
    flex-direction: row;
}
.heading::after
{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid black;
    margin-right: 200px;
    margin-left: 3px;
    margin-bottom: 8px;   
}
.heading::before
{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid black;
    margin-left: 200px;
    margin-right: 3px;
    margin-bottom: 8px;   
}
.line {
    height: 2px;
    width: 68.2%;
    background: radial-gradient(4px 8px, #050606 90%,transparent 97%) 0 0/16px 100%;
    margin-left: 200px;
    margin-top: 20px;
  }
  .load_more
  {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .load_more_text
  {
       background-color: #050606;
       color: white;
       text-align: center;
       height: 25px;
       width: 100px;
       padding: 3px;
       border:1px solid white;
       border-radius: 25px;
  }
.line2
{
    width: 22px;
    margin: 0px;
    padding: 0px;
}
.skin2
{
    margin: 0px;
    padding: 0px;
}