.menu-container {
    background-color: gray;
    padding: 20px;
    color: white;
    list-style: none;
    align-items: center;
    height: 120px;
    justify-content: space-around;

}
.top-header-text >p
{
    font-family: Montserrat;
}
.top-item
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-right: 155px;
}
.top-item-hr
{
    height: 26px;
    margin-right: 4px;
    border-left: 3px solid white;
}
.icon
{
    display: flex;
}
.menu-container-item
{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo h3 {
    display: inline;
    position: relative;
    color: black;
    font-size: 50px;
    font-family: Quinshy;
}
.diagonal-line
{
    display: flex;
    position: absolute;
    margin-left: 55px;
    margin-top: 5px;
    border-bottom: 7px solid black;
    height: 5px;
    width: 12px;
    transform: rotate(131deg);
}

.menus {
    display: flex;

}

.item {
    margin-right: 10px;
    font-size: 18px;
    padding-right: 7px;
    cursor: pointer;
}
.fa-item
{
    padding: 0px;
    margin-right: 6px;
}
.fa-style
{
    font-size: medium;
    border: 1px solid lightyellow;
    border-radius: 25%;
    padding: 3px;
}
.item:hover {
    color: blue;
}
.subscribe
{
  display: flex;
  justify-content: center;
}
.subscribe_text
{
     background-color: #050606;
     color: white;
     text-align: center;
     height: 26px;
     width: 90px;
     padding: 4px;
     border-radius: 25px;
}
.hr-style
{
    width: 900px;
    margin-left: 150px;
}